.container {
  padding: 90px 50px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:host {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-label {

  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {

  width: 490px;

  > button {
    width: 100%;
  }
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

form {
  display: flex;
  flex-direction: column;

}
