<app-header></app-header>
<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="handleContactForm()">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Escreva seu texto:</mat-label>
      <textarea formControlName="description" matInput></textarea>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-flat-button color="accent">Enviar</button>
    </div>
  </form>

  <app-footer></app-footer>
</div>
