<app-header></app-header>
<div class="container">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Escreva seu texto:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="example-button-row">
      <button mat-raised-button color="primary">Enviar</button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
