<app-header></app-header>
<div class="container">
</div>
<body>
    <div id="sobre">
        <img class="imagem" src="../../../assets/img/car1.jpg"><br><br>
       Aqui você encontrará o melhor mostruário pra apresentação e visualização dos carros mais cobiçados da internet!<br><br>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et lobortis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean aliquet tellus nulla, at convallis arcu sagittis ac. Nunc bibendum pharetra bibendum. Pellentesque laoreet consequat tempor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam tincidunt quam mi, et tincidunt est laoreet at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin congue sit amet erat congue ornare. In imperdiet elit vel ligula interdum, vel interdum urna semper.
    </div>
</body>