<div class="container">
  <header>
    <nav>
      <a [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">Página inicial</a>
      <a [routerLink]="['../mostruario']" routerLinkActive="active-link">Mostruário</a>
      <a [routerLink]="['../cadastro']" routerLinkActive="active-link">Cadastro</a>
      <a [routerLink]="['../contato']" routerLinkActive="active-link">Contato</a>
      <a [routerLink]="['../sobre']" routerLinkActive="active-link">Sobre</a>
    </nav>
  </header>
</div>
