.container {
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2d;

  display: flex;
  align-items: center;
  justify-content: center;

  .mat-card {
    min-width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
  }
}
