.container {
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2d;

  display: flex;
  align-items: center;
  justify-content: center;

  .mat-card {
    min-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font: 500 22px Roboto, sans-serif;
      color: #2e2e2d;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
