body {
    background-color: rgb(233, 232, 232);
}
#div-form {
    position: relative;
    left: 20%;
    top: 20%;
    width: 550px;
    height: 300px;
}

#div-form #formulario {
    position: absolute;
    display: block;
}

fieldset {
    color: #000000;
    font-size: 1.3em;
    background-color: #dadada;
    width: 650px;
    height: 400px;
    padding-left: 100px;
    padding-top: 50px;
}
.lblmodelo {
    margin-top: 30px;
    margin-right: 10px;
}
.lbllink {
    margin-top: 30px;
    margin-right: 10px;
}
.lbldescricao {
    margin-top: 30px;
    margin-right: 10px;
}

.btn_enviar {
    margin-top: 30px;
}

#form input.descricao {
    background-color: #f1f1f1;
    left: 90px;
    top: 20px;
    width: 230px;
}

#form input.link {
    background-color: #f1f1f1;
    left: 90px;
    top: 20px;
    width: 230px;
}
#form input.modelo {
    background-color: #f1f1f1;
    left: 90px;
    top: 20px;
    width: 230px;
}

.btn_enviar {
    margin-left: 250px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
