<app-header></app-header>
<div class="container">
</div>

<body>
    <div class="form">
        <label class="titulo">Cadastro de Ofertas:</label>
        <div class="div-modelo">
            <label class="lbl">Modelo do Carro:</label><br>
            <input class="modelo" placeholder="Digite o modelo do carro"> 
        </div>
        <div class="div-descricao">
            <label class="lbl">Descricao do Carro:</label><br>
            <input class="descricao" placeholder="Digite a descrição do carro">
        </div>
        <div class="div-imagem">
            <label class="lbl">Imagem do Carro:</label><br>
            <input type="file" name="arquivos" class="imagem" multiple/>
        </div>
        <button class="btn-enviar">Cadastrar</button>
    </div>
    <app-footer></app-footer>
</body>
