<app-header></app-header>
<div class="container">
</div>
<body>
<div id="div-form">
<form id="form" autocomplete="on">
    <fieldset>
        <legend>Formulário para Cadastro de Carros:</legend>
        <label class="lblmodelo">Modelo do carro:</label><br><input type="text" class="modelo"><br><br>
        <label class="lbllink">Link de imagem do carro:</label><br> <input type="text" class="link"><br><br>
        <label class="lbldescricao">Descrição do carro:</label><br> <input type="text" class="descricao"><br><br>
        <input type="button" class="btn_enviar" value="Cadastrar"/>
    </fieldset>
</form>
</div>
</body>


