<app-header></app-header>
<div class="container">
</div>

<body>
  <form [formGroup]="registerForm" (ngSubmit)="handleRegisterForm()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Modelo do carro:</mat-label>
      <input placeholder="Digite o modelo do carro" formControlName="model" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descrição do Carro:</mat-label><br>
      <input placeholder="Digite a descrição do carro" formControlName="description" matInput>
    </mat-form-field>
    <div class="example-button-row">
      <button type="submit" mat-stroked-button color="accent">Cadastrar</button>
    </div>
  </form>
  <app-footer></app-footer>
</body>
