<div>
  <app-model-wrapper>
    <app-header></app-header>
    <app-model-section *ngFor="let carro of carros" [model]="carro.desc" [img]="carro.foto">
    </app-model-section>
  </app-model-wrapper>

  <!-- <section class="home-carro">

    <img class="home-carro-imagem" src="../../../assets/img/" alt="Carro Oferta">

    <span class="home-carro-conteudo">
      <h2 class="home-carro-secao">Carro oferta</h2>
      <h1 class="home-carro-titulo">Audi</h1>
      <mat-icon class="star-checked">star</mat-icon>
      <mat-icon class="star-checked">star</mat-icon>
      <mat-icon class="star-checked">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <mat-icon class="star">star</mat-icon>
      <h2 class="home-carro-preco">R$ 50.000,00</h2>

      <h2 class="home-carro-titulo-ingredientes">Acessorios</h2>
      <p class="home-carro-texto">vidro eletrico, alarme, direção hidraulica</p>
    </span>

  </section> -->
</div>
